@import "./youCanLike";

.catalog {
  display: flex;
  flex-direction: column;

  .list{
    position: absolute;
    top: -30px;
    right: 0px;
  }

  &__title {
    color: $green;
    text-align: center;
    font-family: "Angst";
    font-size: 86px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
    margin-right: auto;
    margin-left: 112px;
    margin-top: 123px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 121px;
    column-gap: 25px;
    margin-bottom: 240px;

    &__box {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h6 {
          color: $light-green;
          font-family: "AvenirNextCyr-Regular";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .price {
          color: $grey;
          font-family: "AvenirNextCyr-Medium";
          font-size: 30px;
          font-style: normal;
          font-weight: 450;
          line-height: normal;
        }

        .text {
          white-space: pre-line;
          color: $grey;
          font-family: "AvenirNextCyr-Regular";
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        svg {
          margin-top: auto;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .catalog {
    display: flex;
    flex-direction: column;

    .imageCatalog{
      width: 413px;
      height: 580px;
      object-fit: cover;
    }
  
    .list{
      position: absolute;
      top: 0px;
      right: 0px;
      width: 393.401px;
      height: 661.67px;
    }
  
    &__title {
      color: $green;
      text-align: center;
      font-family: "Angst";
      font-size: 50px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
      margin-right: auto;
      margin-left: 79px;
      margin-top: 104px;
    }
  
    &__row {
      display: flex;
      flex-direction: row;
      margin-right: auto;
      margin-left: 82px;
      column-gap: 20px;
      margin-bottom: 210px;

      &__box {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
  
        &__row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          h6 {
            color: $light-green;
            font-family: "AvenirNextCyr-Regular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
          .price {
            color: $grey;
            font-family: "AvenirNextCyr-Medium";
            font-size: 20px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
          }
  
          .text {
            color: $grey;
            font-family: "AvenirNextCyr-Regular";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: pre-line;
          }
  
          svg {
            width: 27.757px;
            height: 37.491px;
            margin-top: auto;
            margin-bottom:0;
            cursor: pointer;
          }
        }
      }
    }
  }
}