.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  height: 110px;
  align-items: center;
  background: #EEE;
  width: 100%;
  z-index: 10;
  
  img {
    height: 57px;
  }

  ul {
    display: flex;
    flex-direction: row;
    column-gap: 60px;

    li {
      color: $green;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
      font-family: 'AvenirNextCyr-Light';
    }
  }
}

@media screen and (max-width: 1440px){
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 78px;
    height: 83px;
    align-items: center;
    background: #EEE;
    z-index: 10;
    
    img {
      height: 42.261px;
    }
  
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 50px;
  
      li {
        color: $green;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        font-family: 'AvenirNextCyr-Light';
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 78px;
    height: 72px;
    align-items: center;
    background: #EEE;
    z-index: 10;
    
    img {
      height: 42.261px;
    }
  
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
  
      li {
        color: $green;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        font-family: 'AvenirNextCyr-Light';
      }
    }
  }
}