.mainAboutCompany {
  display: flex;
  flex-direction: column;
  margin-top: 116px;
  width: 100%;
  position: relative;

  .mainAboutCompany__leaves1320,
  .mainAboutCompany__leaves2320,
  .mainAboutCompany__leaves3320,
  .mainAboutCompany__leaves4320{
    display: none;
  }

  .mainAboutCompany__fourth-info-img {
    width: 769px;
    height: 615px;
    margin-left: auto;
  }

  &__infoblock-1,
  &__infoblock-2,
  &__infoblock-3,
  &__infoblock-4,
  &__infoblock-4-1,
  &__infoblock-5 {
    display: flex;
    flex-direction: row;
  }

  &__infoblock-2 {
    margin-top: 63px;
  }

  &__infoblock-4 {
    margin-top: 91px;
    flex-direction: column;
  }

  &__infoblock-4-1 {
    margin-top: 106px;
  }

  &__infoblock-5 {
    margin-top: 58px;
  }

  &__title {
    color: $green;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: "Angst";
    font-size: 80px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
    margin-left: 141px;
  }

  &__first-text,
  &__second-text,
  &__third-text,
  &__fourth-text,
  &__fifth-text {
    color: $dark-green;
    font-family: "AvenirNextCyr-Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  &__first-text {
    margin-left: 120px;
    margin-top: 56px;
    margin-right: 289px;
  }

  &__second-text {
    margin-left: 271px;
    margin-right: 120px;
    margin-top: 10px;
  }

  &__third-text {
    margin-left: 132px;
    margin-top: 63px;
    margin-right: 330px;
  }

  &__fourth-text {
    margin-right: 113px;
    margin-left: 150px;
  }

  &__fifth-text {
    margin-top: 52px;
    margin-left: 120px;
    width: 805px;
  }

  &__third-info-img {
    margin-right: 195px;
    width: 450px;
    height: 674px;
    z-index: -100;
  }

  &__second-title {
    color: $dark-green;
    text-align: right;
    font-family: Angst;
    font-size: 80px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
    margin-left: auto;
    margin-right: 120px;
  }

  &__img-with-fonblock {
    width: 861px;
    height: 880px;
    background-color: $dark-green;
    z-index: 1;
  }

  &__img-with-fon {
    margin-top: -197px;
  }

  &__leaves {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: -1;
  }

  &__leaves1 {
    margin-top: 2158px;
    margin-left: -80px;
  }
  &__leaves2 {
    margin-top: 1304px;
    height: 900px;
    width: 437px;
  }
}

@media screen and (max-width: 1440px) {
  .mainAboutCompany {
    display: flex;
    flex-direction: column;
    margin-top: 104px;
    width: 100%;
    position: relative;

    &__first-info-img {
      width: 387px;
      height: 382px;
    }

    &__second-info-img {
      width: 385px;
      height: 383px;
      margin-top: -100px;
    }

    .mainAboutCompany__fourth-info-img {
      width: 496px;
      height: 397px;
      margin-right: 0;
    }

    &__infoblock-1,
    &__infoblock-2,
    &__infoblock-3,
    &__infoblock-4,
    &__infoblock-4-1,
    &__infoblock-5 {
      display: flex;
      flex-direction: row;
    }

    &__infoblock-2 {
      margin-top: 63px;
    }

    &__infoblock-4 {
      margin-top: 91px;
      flex-direction: column;
    }

    &__infoblock-4-1 {
      margin-top: 20px;
    }

    &__infoblock-5 {
      margin-top: 58px;
    }

    &__title {
      color: $green;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: #000;
      font-family: "Angst";
      font-size: 50px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
      margin-left: 78px;
    }

    &__first-text,
    &__second-text,
    &__third-text,
    &__fourth-text,
    &__fifth-text {
      color: $dark-green;
      font-family: "AvenirNextCyr-Regular";
      font-size: 25px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }

    &__first-text {
      margin-left: 79px;
      margin-top: 32px;
      margin-right: 100px;
      width: 828px;
    }

    &__second-text {
      margin-left: 237px;
      margin-right: 80px;
      margin-top: 10px;
    }

    &__third-text {
      margin-left: 85px;
      margin-top: 132px;
      margin-right: 154px;
    }

    &__fourth-text {
      margin-top: 33px;
      margin-right: 80px;
      margin-left: 70px;
    }

    &__fifth-text {
      margin-top: 63px;
      margin-left: 90px;
      margin-right: 52px;
      width: 805px;
    }

    &__third-info-img {
      margin-right: 130px;
      margin-top: 40px;
      width: 255px;
      height: 382px;
      z-index: -100;
    }

    &__second-title {
      color: $dark-green;
      text-align: right;
      font-family: "Angst";
      font-size: 50px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
      margin-left: auto;
      margin-right: 80px;
    }

    &__img-with-fonblock {
      width: 522px;
      height: 522px;
      background-color: $dark-green;
    }

    &__img-with-fon {
      margin-top: -99px;
      width: 532px;
      height: 622px;
    }

    &__leaves {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      z-index: -9;
    }

    &__leaves1 {
      margin-top: 1158px;
      width: 532.115px;
      height: 352.933px;
    }
    &__leaves2 {
      margin-top: 664px;
      width: 239.01px;
      height: 562.232px;
    }
  }
}

@media screen and (max-width: 1024px){
  .mainAboutCompany {
    display: flex;
    flex-direction: column;
    margin-top: 98px;
    width: 100%;
    position: relative;

    &__first-info-img {
      width: 283px;
      height: 280px;      
    }

    &__second-info-img {
      width: 281px;
      height: 279px;
      margin-top: -10px;
    }

    .mainAboutCompany__fourth-info-img {
      width: 352px;
      height: 282px;
      margin-right: 0;
    }

    &__infoblock-1,
    &__infoblock-2,
    &__infoblock-3,
    &__infoblock-4,
    &__infoblock-4-1,
    &__infoblock-5 {
      display: flex;
      flex-direction: row;
    }

    &__infoblock-2 {
      margin-top: 0px;
    }

    &__infoblock-4 {
      margin-top: 91px;
      flex-direction: column;
    }

    &__infoblock-4-1 {
      margin-top: 20px;
    }

    &__infoblock-5 {
      margin-top: 58px;
    }

    &__title {
      color: $green;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: #000;
      font-family: "Angst";
      font-size: 30px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
      margin-left: 59px;
    }

    &__first-text,
    &__second-text,
    &__third-text,
    &__fourth-text,
    &__fifth-text {
      color: $dark-green;
      font-family: "AvenirNextCyr-Regular";
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }

    &__first-text {
      margin-left: 59px;
      margin-top: 34px;
      margin-right: 95px;
      width: 578px;
    }

    &__second-text {
      margin-left: 153px;
      margin-right: 80px;
      margin-top: 26px;
    }

    &__third-text {
      margin-top: 39px;
      margin-right: 121px;
      margin-left: 62px;
    }

    &__fourth-text {
      margin-top: 25px;
      margin-right: 80px;
      margin-left: 40px;
    }

    &__fifth-text {
      margin-top: 45px;
      margin-left: 66px;
      margin-right: 37px;
      width: 572px;
    }

    &__third-info-img {
      margin-right: 80px;
      margin-top: 16px;
      width: 180px;
      height: 271px;
    }

    &__second-title {
      color: $dark-green;
      text-align: right;
      font-family: "Angst";
      font-size: 30px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
      margin-left: auto;
      margin-right: 55px;
    }

    &__img-with-fonblock {
      width: 450px;
      height: 450px;
      background-color: $dark-green;
    }

    &__img-with-fon {
      margin-top: -99px;
      width: 480px;
      height: 549px;
    }

    &__leaves {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      z-index: -9;
    }

    &__leaves1 {
      margin-top: 802px;
      width: 432.115px;
      height: 282.933px;
    }
    &__leaves2 {
      margin-top: 484px;
      width: 159.01px;
      height: 402.232px;
    }
  }
}

@media screen and (max-width: 720px) {
  .mainAboutCompany {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    position: relative;

    .mainAboutCompany__leaves1320,
    .mainAboutCompany__leaves2320,
    .mainAboutCompany__leaves3320,
    .mainAboutCompany__leaves4320{
      display: block;
    }

    .mainAboutCompany__leaves4320{
      z-index: 999;
    }

    &__leaves320 {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
    }

    &__leaves1320 {
      margin-top: 239px;
      margin-left: auto;
    }

    &__leaves2320 {
      margin-top: 291px;
      margin-right: auto;
    }

    &__leaves3320 {
      margin-top: 265px;
      margin-left: auto;
    }

    &__leaves4320 {
      margin-top: 480px;
      margin-left: auto;
    }

    &__infoblock-1,
    &__infoblock-3,
    &__infoblock-4,
    &__infoblock-5 {
      flex-direction: column;
      margin-top: 0px;
      width: 100%;
    }

    &__img-with-fonblock {
      margin-top: 86px;
      width: 100%;
      height: 142px;
    }

    &__infoblock-2 {
      flex-direction: column-reverse;
      margin-top: 0px;
    }

    &__first-text,
    &__second-text,
    &__third-text,
    &__fourth-text,
    &__fifth-text {
      font-size: 16px;
      margin: 20px 0px 0px 20px;
      width: 280px;
    }

    &__leaves {
      display: none;
    }

    &__first-info-img {
      margin: 8px auto 0px 20px;
      width: 184px;
      height: 182px;
    }

    &__second-info-img {
      width: 204px;
      height: 204px;
      margin-top: 15px;
      margin-left: auto;
    }

    &__third-info-img {
      width: 184px;
      height: 270px;
      margin: 19px 0px 0px 20px;
    }

    &__title {
      text-align: left;
      font-size: 19px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
      margin: 20px 0px 0px 20px;
    }

    &__infoblock-4-1 {
      flex-direction: column-reverse;
    }

    &__fourth-info-img {
      width: 100%;
      height: 256px;
    }

    &__second-title {
      font-size: 19px;
      text-align: right;
      margin-top: 19px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: -20px;
    }

    .mainAboutCompany__fourth-info-img {
      width: 100%;
      height: 256px;
      margin-top: 20px;
      margin-bottom: -40px;
    }

    &__img-with-fon {
      width: 167px;
      height: 206px;
      margin: -64px 0px 0px 0px;
    }
  }
}