@import "../variables";

.mainSwiper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $dark-green;
    font-family: 'AvenirNextCyr-Medium';
    font-size: 40px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-left: 125px;
    margin-right: auto;
  }

  .swiper {
    overflow: visible !important;
    margin-top: 242px;
  }
  .swiper-slide.active {
    scale: 1.6;
    transition: scale 0.5s ease !important; /* добавление плавности анимации */
    margin-top: 0px;
    z-index: 10;
  }
  .swiper-slide:nth-child(-n + 3) {
    margin-right: -60px !important;
  }
  .swiper-slide:nth-last-child(-n + 3) {
    margin-right: -60px !important;
  }
  .swiper-slide {
    cursor: default;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px !important;
    height: 310px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 21px;
    justify-content: space-between;
    margin-right: 0px !important;
    background: $white;
    z-index: 3;

    .swiper-green {
      position: absolute;
      width: 100%;
      height: 131px;
      rotate: 180deg;
      background: linear-gradient(
        180deg,
        rgba(16, 140, 61, 0) 0%,
        rgba(57, 163, 93, 0.84) 36.46%,
        #39a35d 60.42%,
        #108c3d 100%
      );
    }

    &__title {
      color: $white;
      z-index: 2;
      text-align: center;
      font-family: 'AvenirNextCyr-Regular';
      font-size: 30px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
      margin-top: 10px;
    }

    &__text {
      color: $grey;
      margin-left: 19px;
      margin-top: auto;
      margin-bottom: 30px;
      font-family: 'AvenirNextCyr-Light';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__button {
    width: 458px;
    height: 70px;
    border: 3px solid $dark-green;
    background: transparent;
    cursor: pointer;
    color: $green;
    text-align: center;
    font-family: 'AvenirNextCyr-Bold';
    font-size: 35px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-top: 144px;
  }
}

@media screen and (max-width: 1440px){
  .mainSwiper {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__title {
      color: $dark-green;
      font-family: 'AvenirNextCyr-Medium';
      font-size: 30px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
      margin-left: 80px;
      margin-right: auto;
    }
  
    .swiper {
      overflow: visible !important;
      margin-top: 156px;
    }
    .swiper-slide.active {
      scale: 1.6;
      transition: scale 0.5s ease !important; /* добавление плавности анимации */
      margin-top: 0px;
      z-index: 10;

      h4{
        font-size: 18px;
      }

      p{
        font-size: 15px;
      }
    }
    .swiper-slide:nth-child(-n + 3) {
      margin-right: -40px !important;
    }
    .swiper-slide:nth-last-child(-n + 3) {
      margin-right: -40px !important;
    }
    .swiper-slide {
      cursor: default;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 201px !important;
      height: 236px;
      box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
      padding-bottom: 0px;
      justify-content: space-between;
      margin-right: 0px !important;
      background: $white;
      z-index: 3;
  
      .swiper-green {
        position: absolute;
        width: 100%;
        height: 131px;
        rotate: 180deg;
        background: linear-gradient(180deg, rgba(16, 140, 61, 0.00) 0%, rgba(57, 163, 93, 0.84) 36.46%, #39A35D 60.42%, #108C3D 100%);
      }
  
      &__title {
        color: $white;
        z-index: 2;
        text-align: center;
        font-family: 'AvenirNextCyr-Regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        margin-top: 10px;
        width: 180px;
      }
  
      &__text {
        color: $grey;
        margin-left: 19px;
        margin-top: auto;
        margin-bottom: 40px;
        font-family: 'AvenirNextCyr-Light';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  
    &__button {
      width: 270px;
      height: 52px;
      border: 3px solid $dark-green;
      background: transparent;
      cursor: pointer;
      color: $green;
      text-align: center;
      font-family: 'AvenirNextCyr-Bold';
      font-size: 20px;
      font-style: normal;
      font-weight: 750;
      line-height: normal;
      margin-top: 124px;
    }
  }
}