@import "../variables";

.thank {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list320 {
    display: none;
  }

  .list {
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -200px;
  }

  &__title {
    margin-top: 123px;
    color: $dark-green;
    font-family: "Angst";
    font-size: 86px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
  }

  &__number {
    color: $light-green;
    font-family: "AvenirNextCyr-Light";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 80px;
    line-height: normal;
  }

  &__underitemRow {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 43px;

    &__span {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__price {
      color: $dark-green;
      font-family: "AvenirNextCyr-Medium";
      font-size: 40px;
      font-style: normal;
      font-weight: 750;
      line-height: normal;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 120px;
    margin-top: 102px;
    row-gap: 37px;

    &__text {
      color: $dark-green;
      cursor: pointer;
      font-family: "AvenirNextCyr-Light";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__button {
    cursor: pointer;
    background: transparent;
    width: 552.462px;
    height: 73.662px;
    border: 2px solid $dark-green;
    color: $green;
    text-align: center;
    font-family: "AvenirNextCyr-Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-top: 53px;
  }
}

.ThankItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 44px;
  padding-right: 44px;
  width: 1400px;
  height: 233px;
  border: 3px solid $dark-green;
  margin-top: 40px;

  &__grey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 136px;
    background: #d9d9d9;

    img {
      width: 40px;
      height: 126px;
    }
  }

  &__title {
    color: $dark-green;
    font-family: "AvenirNextCyr-Light";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 118px;
    margin-left: auto;

    &__count {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__price {
      color: $dark-green;
      font-family: "AvenirNextCyr-Medium";
      font-size: 40px;
      font-style: normal;
      font-weight: 750;
      line-height: normal;
    }
  }
}

@media screen and (max-width: 1440px){
  .thank {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list {
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: 100px;
      width: 358.003px;
      height: 465.258px;
    }

    &__title {
      margin-top: 104px;
      color: $dark-green;
      font-family: "Angst";
      font-size: 50px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
    }

    &__number {
      color: $light-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 70px;
    }

    &__underitemRow {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      margin-top: 35px;

      &__span {
        color: $dark-green;
        font-family: "AvenirNextCyr-Light";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__price {
        color: $dark-green;
        font-family: "AvenirNextCyr-Medium";
        font-size: 30px;
        font-style: normal;
        font-weight: 750;
        line-height: normal;
      }
    }

    &__col {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: 80px;
      margin-top: 84px;
      row-gap: 30px;

      &__text {
        color: $dark-green;
        cursor: pointer;
        font-family: "AvenirNextCyr-Light";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__button {
      cursor: pointer;
      background: transparent;
      width: 453.759px;
      height: 60.501px;
      border: 2px solid $dark-green;
      color: $green;
      text-align: center;
      font-family: "AvenirNextCyr-Bold";
      font-size: 20px;
      font-style: normal;
      font-weight: 750;
      line-height: normal;
      margin-top: 43px;
    }
  }

  .ThankItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 33px;
    padding-right: 33px;
    width: 1060px;
    height: 177px;
    border: 3px solid $dark-green;
    margin-top: 30px;

    &__grey {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 105px;
      height: 104px;
      background: #d9d9d9;

      img {
        width: 29px;
        height: 96px;
      }
    }

    &__title {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 23px;
    }

    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 90px;
      margin-left: auto;

      &__count {
        color: $dark-green;
        font-family: "AvenirNextCyr-Light";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__price {
        color: $dark-green;
        font-family: "AvenirNextCyr-Medium";
        font-size: 30px;
        font-style: normal;
        font-weight: 750;
        line-height: normal;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .thank {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list {
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: 40px;
      width: 258.003px;
      height: 365.258px;
    }

    &__title {
      margin-top: 40px;
      color: $dark-green;
      font-family: "Angst";
      font-size: 30px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
    }

    &__number {
      margin-top: 10px;
      color: $light-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 60px;
    }

    &__underitemRow {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      margin-top: 23px;

      &__span {
        color: $dark-green;
        font-family: "AvenirNextCyr-Light";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__price {
        color: $dark-green;
        font-family: "AvenirNextCyr-Medium";
        font-size: 20px;
        font-style: normal;
        font-weight: 750;
        line-height: normal;
      }
    }

    &__col {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: 80px;
      margin-top: 53px;
      row-gap: 20px;

      &__text {
        color: $dark-green;
        cursor: pointer;
        font-family: "AvenirNextCyr-Light";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__button {
      cursor: pointer;
      background: transparent;
      width: 285.806px;
      height: 38.107px;
      border: 2px solid $dark-green;
      color: $green;
      text-align: center;
      font-family: "AvenirNextCyr-Bold";
      font-size: 15px;
      font-style: normal;
      font-weight: 750;
      line-height: normal;
      margin-top: 40px;
    }
  }

  .ThankItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 21px;
    padding-right: 21px;
    width: 668px;
    height: 110px;
    border: 3px solid $dark-green;
    margin-top: 20px;

    &__grey {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      background: #d9d9d9;

      img {
        width: 18px;
        height: 61px;
      }
    }

    &__title {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 15px;
    }

    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 56px;
      margin-left: auto;

      &__count {
        color: $dark-green;
        font-family: "AvenirNextCyr-Light";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__price {
        color: $dark-green;
        font-family: "AvenirNextCyr-Medium";
        font-size: 25px;
        font-style: normal;
        font-weight: 750;
        line-height: normal;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .thank {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .list {
      display: block;
      position: absolute;
      margin-left: auto;
      width: 91.653px;
height: 124.05px;
      right: 0;
    }

    &__button {
      width: 232px;
      height: 29px;
      font-size: 16px;
      font-style: normal;
      font-weight: 750;
    }

    &__col__text {
      font-size: 16px;
    }

    &__col {
      margin-top: 10px;
      row-gap: 1px;
      margin-left: 20px;
      margin-right: auto;
    }

    &__title {
      font-size: 19px;
      margin-top: 20px;
    }

    &__number {
      font-size: 14px;
      margin-bottom: 0px;
    }

    &__underitemRow__span,
    &__underitemRow__price {
      font-size: 19px;
      margin-top: 10px;
    }
    .ThankItem {
      width: 280px;
      height: 46px;
      border: 1px solid #108c3d;
      padding: 3px 9px;

      &__grey {
        min-width: 28px;
        max-width: 28px;
        height: 28px;
      }

      &__grey img {
        width: 8px;
        height: 28px;
      }

      &__title {
        font-size: 14px;
        margin-left: 9px;
        min-width: 106px;
      }

      &__row {
        column-gap: 12px;
      }

      &__row__count,
      &__row__price {
        font-size: 16px;
        min-width: 60px;
        max-width: 60px;
      }

      &__row__count {
        text-align: right;
        margin-right: auto;
      }
    }
  }
}