.MainPageEffect {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-right: 120px;

  .list3320, .list4320, .svg1320, .svg2320{
    display:none;
  }

  .list {
    position: absolute;
    top: -170px;
    left: 180px;
  }

  .list2 {
    position: absolute;
    bottom: -420px;
    right: 0;
  }

  &__title {
    margin-top: -90px;
    margin-left: auto;
    text-align: right;
    color: $dark-green;
    font-family: "Angst";
    font-size: 80px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
  }

  .image {
    margin-left: -120px;
    margin-right: -120px;
    margin-top: 56px;
  }

  &__titleLow {
    margin-top: 40px;
    color: $dark-green;
    font-family: "AvenirNextCyr-Medium";
    font-size: 40px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  &__wrap {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 59px;
    column-gap: 33px;

    &__box {
      width: 538px;
      height: 240px;
      background-color: $green;
      padding: 22px 40px;
      color: $white;
      font-family: "AvenirNextCyr-Light";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__underWrap__span {
    color: $dark-green;
    font-family: "AvenirNextCyr-Light";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
    margin-left: auto;
  }

  &__underWrap__text {
    margin-top: 13px;
    color: $grey;
    font-family: "AvenirNextCyr-Light";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 450;
      font-family: "AvenirNextCyr-Medium";
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 140px auto;
    column-gap: 280px;

    .svg1 {
      left: 165px;
      top: -180px;
      position: absolute;
    }

    .svg2 {
      left: 690px;
      position: absolute;
    }

    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: $grey;
        text-align: center;
        font-family: "AvenirNextCyr-Medium";
        font-size: 40px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
      }

      span {
        text-align: center;
        color: $grey;
        font-family: "AvenirNextCyr-Light";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .MainPageEffect {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;

    .list {
      position: absolute;
      top: -65px;
      left: 340px;
      width: 529.534px;
      height: 320.122px;
    }

    .list2 {
      width: 313.885px;
      height: 548.408px;
      position: absolute;
      bottom: -200px;
      right: 0px;
    }

    &__title {
      margin-left: auto;
      text-align: right;
      color: $dark-green;
      font-family: "Angst";
      font-size: 50px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
    }

    .image {
      margin-left: -80px;
      margin-right: -80px;
      margin-top: 70px;
    }

    &__titleLow {
      margin-top: 35px;
      color: $dark-green;
      font-family: "AvenirNextCyr-Medium";
      font-size: 30px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }

    &__wrap {
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 20px;

      &__box {
        width: 413px;
        height: 189px;
        background-color: $green;
        padding: 22px 40px;
        color: $white;
        font-family: "AvenirNextCyr-Light";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__underWrap__span {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 17px;
      margin-left: auto;
    }

    &__underWrap__text {
      width: 1179px;
      margin-top: 17px;
      color: $grey;
      font-family: "AvenirNextCyr-Light";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        font-weight: 450;
        font-family: "AvenirNextCyr-Medium";
      }
    }

    &__row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 120px auto;
      column-gap: 280px;

      .svg1 {
        width: 243.05px;
        height: 240.535px;
        left: 145px;
        top: -140px;
        position: absolute;
      }

      .svg2 {
        width: 243.05px;
        height: 240.535px;
        left: 610px;
        position: absolute;
      }

      &__col {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          color: $grey;
          text-align: center;
          font-family: "AvenirNextCyr-Medium";
          font-size: 25px;
          font-style: normal;
          font-weight: 450;
          line-height: normal;
        }

        span {
          text-align: center;
          color: $grey;
          font-family: "AvenirNextCyr-Light";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .MainPageEffect {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;

    .list {
      position: absolute;
      top: -80px;
      left: 115px;
      width: 479.244px;
      height: 292.586px;
    }

    .list2 {
      width: 278.426px;
      height: 372.838px;
      position: absolute;
      bottom: -180px;
      right: 0px;
    }

    &__title {
      margin-top: 20px;
      margin-left: auto;
      text-align: right;
      color: $dark-green;
      font-family: "Angst";
      font-size: 30px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
    }

    .image {
      margin-left: -80px;
      margin-right: -80px;
      margin-top: 35px;
    }

    &__titleLow {
      margin-top: 21px;
      color: $dark-green;
      font-family: "AvenirNextCyr-Medium";
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }

    &__wrap {
      margin-top: 21px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 14px;
      column-gap: 14px;

      &__box {
        width: 278px;
        height: 125px;
        background-color: $green;
        padding: 22px 27px;
        color: $white;
        font-family: "AvenirNextCyr-Light";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__underWrap__span {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 13px;
      margin-left: auto;
    }

    &__underWrap__text {
      width: 863px;
      margin-top: 35px;
      color: $grey;
      font-family: "AvenirNextCyr-Light";
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        font-weight: 450;
        font-family: "AvenirNextCyr-Medium";
      }
    }

    &__row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 60px auto;
      column-gap: 100px;

      .svg1 {
        width: 112.82px;
        height: 111.189px;
        left: 110px;
        top: -65px;
        position: absolute;
      }

      .svg2 {
        width: 112.82px;
        height: 111.189px;
        left: 380px;
        top: 60px;
        position: absolute;
      }

      &__col {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          color: $grey;
          text-align: center;
          font-family: "AvenirNextCyr-Medium";
          font-size: 20px;
          font-style: normal;
          font-weight: 450;
          line-height: normal;
        }

        span {
          text-align: center;
          color: $grey;
          font-family: "AvenirNextCyr-Light";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .MainPageEffect {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: right;
    padding: 0px;

    .list3320, .list4320, .svg1320, .svg2320{
      display:block;
    }

    &__wrap {
      width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      margin-top: 35px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-left: 20px;
      margin-top: 7px;
    }

    &__underWrap__span,
    &__underWrap__text {
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }

    &__wrap__box {
      width: 212px;
      flex-shrink: 0;
      height: 103px;
      background-color: $green;
      padding: 11px 14px;
      color: $white;
      font-family: 'AvenirNextCyr-Light';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__leastes {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 409px;
    }

    &__secondpoint {
      margin-left: auto;
    }

    &__title {
      font-size: 19px;
      margin-left: auto;
      margin-right: 18px;
      display: block;
      margin-top: 0px;
    }

    &__titleLow {
      font-size: 16px;
      margin: 7px 20px;
    }

    &__underWrap__span {
      font-size: 14px;
    }

    &__underWrap__text {
      font-size: 16px;
      width: 280px;
    }

    &__row {
      flex-direction: column;
      row-gap: 31px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
    }
    h4{
      font-size: 16px;
    }
    span{
      font-size: 14px;
    }
  }

  .list {
    display: none;
  }

  .list3320 {
    margin-top: 102px;
  }

  .list4320 {
    margin-top: 0px;
    width: 70px;
    height: 120px;
  }

  .MainPageEffect .image {
    width: 100%;
    margin: -28px -0px 0px 0px;
    z-index: -1;
  }

  .svg1,
  .svg2 {
    display: none;
  }

  .MainPageEffect .svg2320,
  .MainPageEffect .svg1320 {
    display: inline-block;
  }

  .MainPageEffect .svg1320 {
    margin: -51px 68px 0px auto;
  }

  .MainPageEffect .svg2320 {
    margin: -142px 0px 0px auto;
  }

  .MainPageEffect .list2 {
    display: none;
  }
}