.MainPageEffect {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-right: 120px;

  .list {
    position: absolute;
    top: -170px;
    left: 180px;
  }

  .list2 {
    position: absolute;
    bottom: -420px;
    right: 0;
  }

  &__title {
    margin-top: -90px;
    margin-left: auto;
    text-align: right;
    color: $dark-green;
    font-family: "Angst";
    font-size: 80px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
  }

  .image {
    margin-left: -120px;
    margin-right: -120px;
    margin-top: 56px;
  }

  &__titleLow {
    margin-top: 40px;
    color: $dark-green;
    font-family: "AvenirNextCyr-Medium";
    font-size: 40px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  &__wrap {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 59px;
    column-gap: 33px;

    &__box {
      width: 538px;
      height: 240px;
      background-color: $green;
      padding: 22px 40px;
      color: $white;
      font-family: "AvenirNextCyr-Light";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__underWrap__span {
    color: $dark-green;
    font-family: "AvenirNextCyr-Light";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
    margin-left: auto;
  }

  &__underWrap__text {
    margin-top: 13px;
    color: $grey;
    font-family: "AvenirNextCyr-Light";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 450;
      font-family: "AvenirNextCyr-Medium";
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 140px auto;
    column-gap: 280px;

    .svg1 {
      left: 165px;
      top: -180px;
      position: absolute;
    }

    .svg2 {
      left: 690px;
      position: absolute;
    }

    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: $grey;
        text-align: center;
        font-family: "AvenirNextCyr-Medium";
        font-size: 40px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
      }

      span {
        text-align: center;
        color: $grey;
        font-family: "AvenirNextCyr-Light";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .MainPageEffect {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;

    .list {
      position: absolute;
      top: -65px;
      left: 340px;
      width: 529.534px;
      height: 320.122px;
    }

    .list2 {
      width: 313.885px;
      height: 548.408px;
      position: absolute;
      bottom: -200px;
      right: 0px;
    }

    &__title {
      margin-left: auto;
      text-align: right;
      color: $dark-green;
      font-family: "Angst";
      font-size: 50px;
      font-style: normal;
      font-weight: 50;
      line-height: normal;
    }

    .image {
      margin-left: -80px;
      margin-right: -80px;
      margin-top: 70px;
    }

    &__titleLow {
      margin-top: 35px;
      color: $dark-green;
      font-family: "AvenirNextCyr-Medium";
      font-size: 30px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }

    &__wrap {
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 20px;

      &__box {
        width: 413px;
        height: 189px;
        background-color: $green;
        padding: 22px 40px;
        color: $white;
        font-family: "AvenirNextCyr-Light";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__underWrap__span {
      color: $dark-green;
      font-family: "AvenirNextCyr-Light";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 17px;
      margin-left: auto;
    }

    &__underWrap__text {
      width: 1179px;
      margin-top: 17px;
      color: $grey;
      font-family: "AvenirNextCyr-Light";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        font-weight: 450;
        font-family: "AvenirNextCyr-Medium";
      }
    }

    &__row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 120px auto;
      column-gap: 280px;

      .svg1 {
        width: 243.05px;
        height: 240.535px;
        left: 145px;
        top: -140px;
        position: absolute;
      }

      .svg2 {
        width: 243.05px;
        height: 240.535px;
        left: 610px;
        position: absolute;
      }

      &__col {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          color: $grey;
          text-align: center;
          font-family: "AvenirNextCyr-Medium";
          font-size: 25px;
          font-style: normal;
          font-weight: 450;
          line-height: normal;
        }

        span {
          text-align: center;
          color: $grey;
          font-family: "AvenirNextCyr-Light";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
